.navbar-main
    .navbar-menu
        background-color: transparent
    .navbar-item
        font-family: 'PT Sans Narrow', sans-serif
        font-size: 1.125em
        font-weight: 700


div.card-content
  font-family: 'PT Serif', serif
  
  .menu-level:
    font-size: 0.75rem
  .level-item
    font-size: 1rem
    font-weight: 400
   .tag
    font-size: 0.75rem

.article
    font-family: 'PT Serif', serif
    font-size: 1.1rem
    font-weight: 400

.level-start
    font-family: 'PT Serif', serif
    font-size: 0.85rem
    font-weight: 400
